.tegnologiasUsadas span:first-child
{
    background-color: blueviolet;
    color: white;

}

.tegnologiasUsadas span:nth-child(2)
{
    background-color: rgb(226, 43, 220);
    color: white;

}

.tegnologiasUsadas span:nth-child(3)
{
    background-color: yellow;
    
}

.tegnologiasUsadas span:nth-child(4)
{
    background-color: blueviolet;
}